.navds-dropdown-menu {
  margin: 0;
  display: flex;
  align-items: stretch;
  padding: 0 1rem 0 0;
  font-size: var(--navds-font-size-small);
  background: transparent;
  border: none;
  color: inherit;
  text-align: left;
  align-self: stretch;
  cursor: pointer;
}

.navds-dropdown-menu:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.navds-dropdown-menu:focus {
  box-shadow: inset var(--navds-shadow-focus-on-dark);
  outline: none;
}

.navds-dropdown-menu__icon-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.navds-dropdown-menu__menu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.navds-dropdown-menu-item {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--navds-color-text-primary);
  font: inherit;
  margin: 0;
  padding: 0.3rem 1rem;
  text-align: left;
  text-decoration: none;
  font-size: var(--navds-font-size-small);
  line-height: var(--navds-font-line-height-small);
}

.navds-dropdown-menu-item:hover,
.navds-dropdown-menu-item:focus {
  background-color: var(--navds-color-gray-10);
}
