.navds-internal-header-dropdown-menu {
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: stretch;
  padding: 0 1rem;
  font-size: var(--navds-font-size-small);
  line-height: 1;
  background: transparent;
  border: none;
  color: inherit;
  text-align: left;
  gap: 1rem;
  border-left: 1px solid var(--navds-color-gray-40);
  align-self: stretch;
  cursor: pointer;
}

.navds-internal-header-dropdown-menu:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.navds-internal-header-dropdown-menu:focus {
  box-shadow: inset var(--navds-shadow-focus-on-dark);
  outline: none;
}

.navds-internal-header-dropdown-menu__icon-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.navds-internal-header-dropdown-menu__name {
  margin-right: 1rem;
}

.navds-internal-header-dropdown-menu__menu {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
}

.navds-internal-header-dropdown-menu-item {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--navds-color-text-primary);
  font: inherit;
  margin: 0;
  padding: 0.3rem 1rem;
  text-align: left;
  text-decoration: none;
  font-size: var(--navds-font-size-small);
  line-height: var(--navds-font-line-height-small);
}

.navds-internal-header-dropdown-menu-item:hover,
.navds-internal-header-dropdown-menu-item:focus {
  background-color: var(--navds-color-gray-10);
}

.navds-internal-header-dropdown-menu__unit,
.navds-internal-header-dropdown-menu__role {
  font-size: var(--navds-font-size-xs);
}

.navds-internal-header-dropdown-menu__unit:not(:last-child):after {
  content: ", ";
  display: inline;
}
