.navds-internal-header-user {
  color: var(--navds-color-text-inverse);
  padding: 0.5rem 1rem;
  border-left: 1px solid var(--navds-color-gray-40);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.navds-internal-header-user__name {
  margin-right: 1rem;
  font-size: var(--navds-font-size-small);
  font-weight: var(--navds-font-weight-bold);
}

.navds-internal-header-user__ident {
  font-size: var(--navds-font-size-xs);
  font-weight: var(--navds-font-weight-bold);
}

.navds-internal-header-user__unit {
  font-size: var(--navds-font-size-xs);
}

.navds-internal-header-user__unit:not(:last-child)::after {
  content: ", ";
  display: inline;
}

.navds-internal-header-user__role {
  font-size: var(--navds-font-size-xs);
}
