html,
body,
#decorator-wrapper {
  min-height: 100vh;
}

#decorator-wrapper {
  display: flex;
  flex-direction: column;
}

#decorator-footer {
  margin-top: auto;
}

.navds-story-menu {
  margin: 0;
  list-style-type: none;
}

.navds-story-menu li:not(:last-child) {
  margin-bottom: 1rem;
}

.navds-story-section {
  margin-bottom: 1rem;
}

.panel {
  background-color: white;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: rgb(204, 225, 243);
}

.banner-content {
  padding: 1rem;
}
